.nav-link {
    padding: 0.75rem 1.5rem;
    margin: 0.2rem 0;
    color: var(--vh-link-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

.nav-link:hover:not(.active) {
    background-color: #f8f9fa;
    color: var(--vh-hover-color);
}

.nav-link.active {
    background-color: var(--vh-active-link-bg);
    color: var(--vh-primary);
    border-left: 3px solid var(--vh-primary);
    padding-left: calc(1.5rem - 3px);
    font-weight: 600;
}

.nav-link i {
    font-size: 1.25rem;
    margin-right: 0.75rem;
}